## é¡Œç›®ä¸€ (20%)
### é¡Œç›®æ•˜è¿°

ä½ æ­£åœ¨è™•ç†ä¸€å ´æŠ€è¡“æœƒè­°çš„åƒèˆ‡è€…è³‡æ–™ã€‚é€™äº›è³‡æ–™åˆ†å¸ƒåœ¨å…©å€‹ä¸åŒçš„ç³»çµ±ä¸­ï¼š
- è¨»å†Šç³»çµ±ï¼šè¨˜éŒ„äº†åƒèˆ‡è€…çš„å€‹äººè³‡æ–™åŠå…¶è¨»å†Šç‹€æ³ã€‚
- æ”¯ä»˜ç³»çµ±ï¼šè¨˜éŒ„äº†æ‰€æœ‰æ”¯ä»˜äº¤æ˜“ã€‚

ä½ çš„ä»»å‹™æ˜¯è™•ç†é€™äº›æ•¸æ“šï¼Œç‚ºæœƒè­°çš„è²¡å‹™åœ˜éšŠå’Œè¨»å†Šåœ˜éšŠæä¾›ä»–å€‘éœ€è¦çš„å ±å‘Šã€‚

ä»¥ä¸‹æ˜¯ä¾†è‡ªå…©å€‹ç³»çµ±çš„éƒ¨åˆ†æ•¸æ“šï¼š

```
registrations_data = {
    'participant_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'name': ['Alice', 'Bob', 'Caroline', 'David', 'Eve', 'Frank', 'Grace', 'Heidi', 'Ivan', 'Judy'],
    'session_registered': ['Python', 'JavaScript', 'Java', 'Python', 'JavaScript', 'Java', 'Python', 'JavaScript', 'Java', 'Python']
}

transactions_data = {
    'transaction_id': [500, 501, 502, 503, 504, 505, 506, 507, 508, 509],
    'participant_id': [101, 105, 106, 107, 103, 108, 109, 110, 111, 112],  
    'amount': [100, 100, 100, 100, 100, 100, 100, 100, 100, 100],
    'status': ['Success', 'Failed', 'Success', 'Failed', 'Success', 'Failed', 'Success', 'Success', 'Failed', 'Failed']
}

```

- `registrations_data` åŒ…å« participant_idï¼ˆåƒèˆ‡è€…IDï¼‰ï¼Œnameï¼ˆåå­—ï¼‰å’Œ session_registeredï¼ˆè¨»å†Šæœƒè­°ï¼‰åˆ—ã€‚
- `transactions_data` åŒ…å« transaction_idï¼ˆäº¤æ˜“IDï¼‰ï¼Œparticipant_idï¼ˆåƒèˆ‡è€…IDï¼‰ï¼Œamountï¼ˆé‡‘é¡ï¼‰å’Œ statusï¼ˆäº¤æ˜“ç‹€æ…‹ï¼‰åˆ—ã€‚

---

### ç¨‹å¼è¦æ±‚
- å°‡ `registrations_data` å’Œ `transactions_data` å­—å…¸è½‰æˆå…©å€‹dataframeï¼Œåˆ†åˆ¥å‘½åç‚º `registrations` å’Œ `transactions`ã€‚
- å‰µå»ºä¸¦å±•ç¤ºå‡ºä»¥ä¸‹å››ç¨®è³‡æ–™çš„dataframeï¼š
  - æ—¢æœ‰è¨»å†Šç´€éŒ„åˆæœ‰ç¹³è²»ç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆä¸è«–ç¹³è²»æˆåŠŸèˆ‡å¦ï¼‰
  - æ‰€æœ‰æœ‰è¨»å†Šç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆåŒ…æ‹¬é‚£äº›æ²’æœ‰ç¹³è²»ç´€éŒ„çš„ï¼‰
  - æ‰€æœ‰æœ‰ç¹³è²»ç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆåŒ…æ‹¬é‚£äº›æ²’æœ‰è¨»å†Šç´€éŒ„çš„ï¼‰
  - æ‰€æœ‰åƒèˆ‡è€…çš„è¨»å†Šç´€éŒ„å’Œç¹³è²»ç´€éŒ„
- åˆ—å°ä¸€è¡Œå­—ä¸²ä¾†èªªæ˜æ¯ä¸€å€‹dataFrameä»£è¡¨çš„è³‡æ–™ï¼Œç„¶å¾Œå°å‡ºè©²dataFrameã€‚ä¾‹å¦‚ï¼š
  ```
  print("æ—¢æœ‰è¨»å†Šç´€éŒ„åˆæœ‰ç¹³è²»ç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆä¸è«–ç¹³è²»æˆåŠŸèˆ‡å¦ï¼‰")
  print(df1)
  ```

In [728]:
import pandas as pd
import numpy as np
import re
registrations=pd.DataFrame({
    'participant_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'name': ['Alice', 'Bob', 'Caroline', 'David', 'Eve', 'Frank', 'Grace', 'Heidi', 'Ivan', 'Judy'],
    'session_registered': ['Python', 'JavaScript', 'Java', 'Python', 'JavaScript', 'Java', 'Python', 'JavaScript', 'Java', 'Python']
})

transactions =pd.DataFrame({
    'transaction_id': [500, 501, 502, 503, 504, 505, 506, 507, 508, 509],
    'participant_id': [101, 105, 106, 107, 103, 108, 109, 110, 111, 112],  
    'amount': [100, 100, 100, 100, 100, 100, 100, 100, 100, 100],
    'status': ['Success', 'Failed', 'Success', 'Failed', 'Success', 'Failed', 'Success', 'Success', 'Failed', 'Failed']
})

In [729]:
print("æ—¢æœ‰è¨»å†Šç´€éŒ„åˆæœ‰ç¹³è²»ç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆä¸è«–ç¹³è²»æˆåŠŸèˆ‡å¦ï¼‰")
transactions
merged = pd.merge(transactions, registrations, on="participant_id",how="outer")
merged=merged.fillna(0)
df1=merged.query('transaction_id !=0 and session_registered != 0 ')
display (df1['participant_id'])
display(df1)

æ—¢æœ‰è¨»å†Šç´€éŒ„åˆæœ‰ç¹³è²»ç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆä¸è«–ç¹³è²»æˆåŠŸèˆ‡å¦ï¼‰

0    101
1    105
2    106
3    107
4    103
5    108
6    109
7    110
Name: participant_id, dtype: int64

,transaction_id,participant_id,amount,status,name,session_registered
0,500.0,101,100.0,Success,Alice,Python
1,501.0,105,100.0,Failed,Eve,JavaScript
2,502.0,106,100.0,Success,Frank,Java
3,503.0,107,100.0,Failed,Grace,Python
4,504.0,103,100.0,Success,Caroline,Java
5,505.0,108,100.0,Failed,Heidi,JavaScript
6,506.0,109,100.0,Success,Ivan,Java
7,507.0,110,100.0,Success,Judy,Python

In [730]:
print("æ‰€æœ‰æœ‰è¨»å†Šç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆåŒ…æ‹¬é‚£äº›æ²’æœ‰ç¹³è²»ç´€éŒ„çš„ï¼‰")
df2=merged.query('session_registered != 0 ')
display(df2['participant_id'])
display(df2)

æ‰€æœ‰æœ‰è¨»å†Šç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆåŒ…æ‹¬é‚£äº›æ²’æœ‰ç¹³è²»ç´€éŒ„çš„ï¼‰

0     101
1     105
2     106
3     107
4     103
5     108
6     109
7     110
10    102
11    104
Name: participant_id, dtype: int64

,transaction_id,participant_id,amount,status,name,session_registered
0,500.0,101,100.0,Success,Alice,Python
1,501.0,105,100.0,Failed,Eve,JavaScript
2,502.0,106,100.0,Success,Frank,Java
3,503.0,107,100.0,Failed,Grace,Python
4,504.0,103,100.0,Success,Caroline,Java
5,505.0,108,100.0,Failed,Heidi,JavaScript
6,506.0,109,100.0,Success,Ivan,Java
7,507.0,110,100.0,Success,Judy,Python
10,0.0,102,0.0,0,Bob,JavaScript
11,0.0,104,0.0,0,David,Python

In [731]:
print("æ‰€æœ‰æœ‰ç¹³è²»ç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆåŒ…æ‹¬é‚£äº›æ²’æœ‰è¨»å†Šç´€éŒ„çš„ï¼‰")
df3=merged.query('transaction_id != 0 ')
display(df3['participant_id'])
display(df3)

æ‰€æœ‰æœ‰ç¹³è²»ç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆåŒ…æ‹¬é‚£äº›æ²’æœ‰è¨»å†Šç´€éŒ„çš„ï¼‰

0    101
1    105
2    106
3    107
4    103
5    108
6    109
7    110
8    111
9    112
Name: participant_id, dtype: int64

,transaction_id,participant_id,amount,status,name,session_registered
0,500.0,101,100.0,Success,Alice,Python
1,501.0,105,100.0,Failed,Eve,JavaScript
2,502.0,106,100.0,Success,Frank,Java
3,503.0,107,100.0,Failed,Grace,Python
4,504.0,103,100.0,Success,Caroline,Java
5,505.0,108,100.0,Failed,Heidi,JavaScript
6,506.0,109,100.0,Success,Ivan,Java
7,507.0,110,100.0,Success,Judy,Python
8,508.0,111,100.0,Failed,0,0
9,509.0,112,100.0,Failed,0,0

In [732]:
print("æ‰€æœ‰åƒèˆ‡è€…çš„è¨»å†Šç´€éŒ„å’Œç¹³è²»ç´€éŒ„")
df4=merged
display(df4)

æ‰€æœ‰åƒèˆ‡è€…çš„è¨»å†Šç´€éŒ„å’Œç¹³è²»ç´€éŒ„

,transaction_id,participant_id,amount,status,name,session_registered
0,500.0,101,100.0,Success,Alice,Python
1,501.0,105,100.0,Failed,Eve,JavaScript
2,502.0,106,100.0,Success,Frank,Java
3,503.0,107,100.0,Failed,Grace,Python
4,504.0,103,100.0,Success,Caroline,Java
5,505.0,108,100.0,Failed,Heidi,JavaScript
6,506.0,109,100.0,Success,Ivan,Java
7,507.0,110,100.0,Success,Judy,Python
8,508.0,111,100.0,Failed,0,0
9,509.0,112,100.0,Failed,0,0
10,0.0,102,0.0,0,Bob,JavaScript
11,0.0,104,0.0,0,David,Python

## é¡Œç›®äºŒ (40%)

### é¡Œç›®æ•˜è¿°

é€™é¡Œæœƒç”¨åˆ°ä¾†è‡ªDcardçš„è³‡æ–™é›†ï¼Œé€™å€‹è³‡æ–™é›†åŒ…å«ä»¥ä¸‹å…­å€‹æ¬„ä½ï¼š

- title: æ¨™é¡Œ
- commentCount: ç•™è¨€æ•¸
- likeCount: æŒ‰è®šæ•¸
- forumName: çœ‹æ¿åç¨±
- gender: ç™¼æ–‡è€…æ€§åˆ¥
- text: å…§æ–‡ï¼Œæ ¼å¼æ˜¯list of list of list (ä»¥å­—ä¸²è³‡æ–™å‹æ…‹å‘ˆç¾)
  - ç¬¬ä¸€å±¤æ˜¯æ•´ç¯‡æ–‡ç« 
  - ç¬¬äºŒå±¤æ˜¯å¥å­
  - ç¬¬ä¸‰å±¤æ˜¯ `[token, POS tag]`

---

### ç¨‹å¼è¦æ±‚
1. è®€å–æª”æ¡ˆ
  - å¾ `dcard-500.csv` æª”æ¡ˆä¸­è®€å–è³‡æ–™ï¼Œä¸¦å°‡å…¶å­˜å…¥ `dcard_df` dataframeã€‚
2. å°‡genderæ¬„ä½ä¸­çš„æ•¸å€¼æ›æˆå­—æ¯
  - å°‡0æ›æˆ`F`
  - å°‡1æ›æˆ`M`
3. æ–°å¢æ¬„ä½
  - æ–°å¢ä¸€å€‹ reconstructed_text æ¬„ä½ï¼Œç”¨æ–¼å­˜æ”¾å¾ text æ¬„ä½æŠ“å‡ºä¾†çš„ tokenï¼Œä¸¦ä»¥ç©ºæ ¼é€£æ¥é€™äº› tokenã€‚
  - æ–°å¢ä¸€å€‹ emojis æ¬„ä½ï¼Œç”¨æ–¼å­˜æ”¾å¾ reconstructed_text æ¬„ä½ä¸­æŠ“å‡ºä¾†çš„è¡¨æƒ…ç¬¦è™Ÿã€‚é€™äº›è¡¨æƒ…ç¬¦è™Ÿæœƒé€£æ¥æˆä¸€å€‹å­—ç¬¦ä¸²ï¼Œè¡¨æƒ…ç¬¦è™Ÿå’Œè¡¨æƒ…ç¬¦è™Ÿä¹‹é–“ä¸åŒ…å«ä»»ä½•ç©ºæ ¼ã€‚
    - æ³¨æ„ï¼šå¿…é ˆæ’é™¤æ‰€æœ‰è†šè‰²ä¿®é£¾ç¬¦è™Ÿï¼ˆskin-tone modifiersï¼‰
  - å°‡æ›´æ–°å¾Œçš„dataframeç”¨ `.head()` å°å‡ºä¾†ã€‚
4. è¨ˆç®—è¡¨æƒ…ç¬¦è™Ÿçš„ä½¿ç”¨æ¬¡æ•¸
  - æ‰¾å‡ºä½¿ç”¨æ¬¡æ•¸æœ€å¤šçš„å‰åå€‹è¡¨æƒ…ç¬¦è™ŸåŠå…¶å„è‡ªçš„ä½¿ç”¨æ¬¡æ•¸ï¼Œå­˜åœ¨è®Šæ•¸ `top_10_emojis` ä¸­ç„¶å¾Œå°å‡ºä¾†ã€‚
5. æ ¹æ“šä¸åŒæ€§åˆ¥åˆ†æå‰åå€‹æœ€å¸¸ç”¨è¡¨æƒ…ç¬¦è™Ÿçš„ä½¿ç”¨æƒ…æ³
  - å»ºç«‹**å…©ç¨®**äº¤å‰è¡¨ï¼Œä¸¦ç”¨ `display()` é¡¯ç¤ºï¼š
    - äº¤å‰è¡¨Aï¼šæ©«å‘æ¯”è¼ƒä¸åŒæ€§åˆ¥å°åŒä¸€è¡¨æƒ…ç¬¦è™Ÿçš„ä½¿ç”¨æ¬¡æ•¸
      - æ€§åˆ¥ç‚ºç´¢å¼•ï¼Œè¡¨æƒ…ç¬¦è™Ÿç‚ºæ¬„ä½ï¼Œä½¿ç”¨æ¬¡æ•¸ä½œç‚ºå€¼ï¼ˆå¯ä»¥ä½¿ç”¨ `pd.crosstab` ï¼‰ã€‚
    - äº¤å‰è¡¨Bï¼šç¸±å‘æ¯”è¼ƒä¸åŒè¡¨æƒ…ç¬¦è™Ÿåœ¨ä¸åŒæ€§åˆ¥ä¸­çš„ä½¿ç”¨æ¬¡æ•¸
      - è¡¨æƒ…ç¬¦è™Ÿç‚ºç´¢å¼•ï¼Œæ€§åˆ¥ç‚ºæ¬„ä½ï¼Œä½¿ç”¨æ¬¡æ•¸ä½œç‚ºå€¼ã€‚

In [733]:
import emoji
dcard_df = pd.read_csv('dcard-500.csv')
dcard_df['gender']=dcard_df['gender'].map({0:'F',1:'M'})
dcard_df
str1=''
token=[ ]
word=[]
part=[]
pog=[]
pog_a=['FW','SHI','DE',"V_2","Neqa","VL","VK","VJ","VI","VHC","VH","VG","VC","VF","VE","VD","VCL","CV","VB","VAC","VA","T","P","I","Nv","Nh","Ng","Nf","Nd","Neqb","Nep","Nes","Neu","Nb",'Ncd',"Na","Nc","D","Dk","Di","Dfb","Dfa","Da","Cbb","Cba","Cab","Caa","A",'PARENTHESISCATEGORY','EXCLAMATIONCATEGORY','COLONCATEGORY','WHITESPACE','V_2','DOTCATEGORY ','COMMACATEGORY']
import jieba
for i in dcard_df['text']:
    i = re.sub(r"[[,'']", "", i)
    seg_words=jieba.cut(i, cut_all=False)
    for j in seg_words :
        if j != ']':
            if j in pog_a:
                part.append(j)
            else:
                word.append(j)
    token.append(str1.join(word))
    word=[]
    pog.append(str1.join(part))
    part=[]
import emoji

emo=[]
dcard_df['reconstructed_text']=token
def extract_emojis(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F700-\U0001F77F"  # alchemical symbols
                           u"\U0001F780-\U0001F7FF"  # Geometric Shapes Extended
                           u"\U0001F800-\U0001F8FF"  # Supplemental Arrows-C
                           u"\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
                           u"\U0001FA00-\U0001FA6F"  # Chess Symbols
                           u"\U0001FA70-\U0001FAFF"  # Symbols and Pictographs Extended-A
                           u"\U00002702-\U000027B0"  # Dingbats
                           r"\U0001F3FB-\U0001F3FF"  # è†šè‰²ä¿®é£¾ç¬¦è™Ÿ
                           r"â™€"
                           "]+", flags=re.UNICODE)
    emojis = re.findall(emoji_pattern, text)
    return emojis
for i in dcard_df['reconstructed_text']:
    emo.append(extract_emojis(i))
dcard_df['emoji']=emo
display(dcard_df.head())
##ä¸‹ä¸€é¡Œ
emo={}
for i in dcard_df['emoji']:
    for x in str(i) :
        if x == '['or'('or ','or ')'or ']'or "'":
            if x in emo :
                emo[x]=emo[x]+1  
            else:
                emo.update({x:1}) 
del emo['[']
del emo [']']
del emo["'"]   
del emo[","]  
del emo[" "]  
del emo['ğŸ»']
emo = sorted(emo.items(),key=lambda x:x[1] ,reverse=True )
top_10_emoji=emo[0:10]
print("top_10_emoji:")
print(pd.DataFrame(top_10_emoji,columns=["emoji", "count"]))
##ä¸‹ä¸€é¡Œ
man = {}
woman= {}
top_10_emoji=pd.DataFrame(top_10_emoji,columns=["emoji", "count"])
top_10_emoji.drop(["count"], axis=1, inplace=True)
for i in dcard_df.query("gender=='F'")['emoji']:
    for x in str(i) :
        if x in list(top_10_emoji['emoji']) :
            if  x in woman :
                woman[x]=woman[x]+1  
            else:
                woman.update({x:1})   
for i in dcard_df.query("gender=='M'")['emoji']:
    for x in str(i) :
        if x in list(top_10_emoji['emoji']) :
            if  x in man :
                man[x]=man[x]+1  
            else:
                man.update({x:1})  
Mk=man.keys()
male=[]
for i in Mk:
    male.append(man[i])
M=pd.DataFrame(Mk,male,columns=['emoji']).reset_index()

fk=woman.keys()
female=[]
for i in fk:
    female.append(woman[i])
male
F=pd.DataFrame(fk,female,columns=['emoji']).reset_index()
top_10_emoji=pd.merge(top_10_emoji,F,on='emoji',how="outer")
top_10_emoji=pd.merge(top_10_emoji,M,on='emoji',how="outer")
top_10_emoji.rename(columns={"index_x": "F", "index_y": "M"}, inplace=True)
top_10_emoji=top_10_emoji.fillna(0)
top_10_emoji_2=top_10_emoji.set_index(['emoji',])
print("äº¤å‰è¡¨B:")
display(top_10_emoji_2)

,title,commentCount,likeCount,forumName,gender,text,date,reconstructed_text,emoji
0,æƒ³è©¢å•ä¸€ä¸‹,4,0,3C,F,"[[['Iphone', 'FW'], ['æ‰‹æ©Ÿ', 'Na'], ['line', 'FW...",2020-01-23,Iphone æ‰‹æ©Ÿ line è¦–è¨Š æœ‰ V_2 è¾¦æ³• ä¸€é‚Š è¢å¹• éŒ„è£½ ä¸€é‚Š...,[]
1,#æ–°å¸‚ #ç¾Šè‚‰çˆ é˜¿æ—¦å¸«ç¾Šè‚‰çˆ,5,54,ç¾é£Ÿ,M,"[[['å„ä½', 'Nh'], ['æ™šå®‰', 'VH'], ['æˆ‘', 'Nh'], ['æ˜¯...",2020-01-13,å„ä½ æ™šå®‰ æˆ‘ æ˜¯ é˜¿æ° ~ https://i.imgur.com/OU0rq...,[]
2,å››é¢å½¿ éˆé©—,2,8,éˆç•°,M,"[[['é€™é™£å­', 'Nd'], ['è·Ÿ', 'P'], ['å¥³å‹', 'Na'], ['åˆ†...",2020-01-22,é€™é™£å­ è·Ÿ å¥³å‹ åˆ†åˆ†åˆåˆ çš„ ä¹‹å‰ å°± æ±‚ é é•·æ˜¥è·¯ çš„ å››é¢ ...,[]
3,Foodpandaåˆ°åº•æ˜¯ï¼Ÿ,10,19,ç¾é£Ÿ,F,"[[['è¨‚', 'VC'], ['äº†', 'Di'], ['å…©', 'Neu'], ['å¤©'...",2020-01-29,è¨‚ äº† å…© å¤© ï¼š ç¬¬ä¸€ å¤© ï¼Œ åŸæœ¬ å¯« è¦ ç­‰ 50 åˆ†é˜ ...,[]
4,#å”å°‹åŒ¿åç›œåœ–ä»”ï¼ ç•¶å‰µä½œè€…å¡‘è† ï¼Ÿ,9,50,æ‰‹ä½œ,F,"[[['ï¼ˆ', 'PARENTHESISCATEGORY'], ['â', 'FW'], [...",2020-01-15,ï¼ˆ â å” å°‹ ç›œ åœ– è€… â ï¼‰ æˆ‘ éœ€è¦ å¤§å®¶ çš„ å¹«å¿™ ï¼...,"[â, â, ğŸ“¢ğŸ“¢]"

top_10_emoji:
  emoji  count
0     ğŸ˜‚    186
1     ğŸ˜­    109
2     â¤     72
3     ğŸ‘‡     66
4     ğŸ™     62
5     ğŸ”´     45
6     ğŸ¤£     38
7     â™€     32
8     ğŸ‘§     31
9     ğŸ‘     30
äº¤å‰è¡¨B:

         F     M
emoji
ğŸ˜‚      131  55.0
ğŸ˜­       97  12.0
â¤       68   4.0
ğŸ‘‡       49  17.0
ğŸ™       49  13.0
ğŸ”´       45   0.0
ğŸ¤£       33   5.0
â™€       32   0.0
ğŸ‘§       31   0.0
ğŸ‘       20  10.0

## é¡Œç›®ä¸‰ (40%)

### é¡Œç›®æ•˜è¿°

é€™é¡Œæœƒç”¨åˆ°MovieLensç¶²ç«™æä¾›çš„è³‡æ–™é›†ä¾†é€²è¡Œé›»å½±æ¨è–¦ï¼ˆ[è³‡æ–™ä¾†æº](https://grouplens.org/datasets/movielens/)ï¼‰ã€‚é€™ä»½è³‡æ–™åŒ…å«äº†ä½¿ç”¨è€…çš„è©•åˆ†æ•¸æ“šå’Œé›»å½±çš„è©³ç´°è³‡æ–™ã€‚

- `ratings.csv` æª”æ¡ˆåŒ…å«ä»¥ä¸‹æ¬„ä½ï¼š
  - userIdï¼šä½¿ç”¨è€…ID
  - movieIdï¼šé›»å½±ID
  - ratingï¼šä½¿ç”¨è€…çµ¦äºˆçš„è©•åˆ†
  - timestampï¼šæ™‚é–“æˆ³è¨˜

  > é€™å€‹æª”æ¡ˆä¸­çš„æ©«åˆ—é¦–å…ˆæŒ‰ userId æ’åºï¼Œç„¶å¾Œåœ¨æ¯å€‹ä½¿ç”¨è€…å…§æŒ‰ movieId æ’åºã€‚  
  > è©•åˆ†æ˜¯æ ¹æ“šä¸€å€‹äº”æ˜Ÿè©•åˆ†åˆ¶é€²è¡Œçš„ï¼Œå¯ä»¥æ¯åŠæ˜Ÿï¼ˆ0.5æ˜Ÿ - 5.0æ˜Ÿï¼‰å¢åŠ ä¸€æ¬¡ã€‚  
  > æ™‚é–“æˆ³è¨˜ä»£è¡¨è‡ª1970å¹´1æœˆ1æ—¥å”èª¿ä¸–ç•Œæ™‚ï¼ˆUTCï¼‰åˆå¤œä»¥ä¾†çš„ç§’æ•¸ã€‚

- `movies.csv` æª”æ¡ˆåŒ…å«ä»¥ä¸‹æ¬„ä½ï¼š
  - movieIdï¼šé›»å½±ID
  - titleï¼šç‰‡å
  - genresï¼šé›»å½±é¡å‹
    - é›»å½±é¡å‹æ˜¯ä¸€å€‹ä»¥ç®¡ç·šç¬¦è™Ÿï¼ˆ`|`ï¼‰åˆ†éš”çš„æ¸…å–®ï¼Œå¯ä»¥å¾ä»¥ä¸‹é¸é …ä¸­é¸æ“‡ï¼š
    > | Action | Adventure | Animation | Children's | Comedy | Crime | Documentary | Drama | Fantasy | Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi | Thriller | War | Western |

---

### ç¨‹å¼è¦æ±‚

1. è®€å–è³‡æ–™
  - å¾ `movies.csv` æª”æ¡ˆä¸­è®€å–è³‡æ–™ï¼Œä¸¦å»ºç«‹ `movies` dataframeã€‚
  - å¾ `ratings.csv` æª”æ¡ˆä¸­è®€å–è³‡æ–™ï¼Œä¸¦å»ºç«‹ `ratings` dataframeã€‚
2. å‰è™•ç†
  - ä½¿ç”¨left joinåˆä½µ `ratings` å’Œ `movies`ï¼Œä¸¦ä»¥movieIdç‚ºkeyå­˜åˆ° `ratings_movies` dataframeã€‚
  - å°å‡º `ratings_movies` dataframeå‰äº”ç­†è³‡æ–™ã€‚
  - é¸å‡º userId ç‚º 2 çš„ä½¿ç”¨è€…ï¼Œä¸¦å­˜é€² `user2` dataframeã€‚
    - æ³¨æ„ï¼šuser2æœƒé‡è¤‡çœ‹åŒä¸€éƒ¨é›»å½±ï¼Œå› æ­¤è¦å°‡é‡è¤‡çš„é›»å½±åˆªé™¤ï¼Œåªä¿ç•™æœ€æ–°çš„ç´€éŒ„ã€‚
  - åˆ—å°å‡º `user2` dataframeå‰åç­†è³‡æ–™ã€‚
3. æ¨è–¦é›»å½±
  - å° user2 çš„ `rating` å’Œ `genres` é€²è¡Œçµ±è¨ˆåˆ†æ
    - æ³¨æ„ï¼šä¸€éƒ¨é›»å½±å¯èƒ½åŒ…å«å¤šå€‹é¡å‹ï¼Œå› æ­¤è¦å°‡é¡å‹åˆ†é–‹ä¸¦è¨ˆç®—æ¯å€‹é¡å‹çš„è©•åˆ†æ¬¡æ•¸ã€‚ä¾‹å¦‚ `Action|Adventure` çš„ratingç‚º2ï¼Œå‰‡ `Action` å’Œ `Adventure` éƒ½å„åŠ 2ã€‚
  - æ’é™¤è©•åˆ†æ¬¡æ•¸å°‘æ–¼10æ¬¡çš„é¡å‹ï¼Œè¨ˆç®—å‰©é¤˜é¡å‹çš„å¹³å‡è©•åˆ†ï¼Œä¾ç…§å¹³å‡è©•åˆ†ç”±é«˜è‡³ä½æ’åºï¼Œæœ€å¾Œå­˜å…¥è®Šæ•¸ `user2_ratings` ä¸¦åˆ—å°å‡ºä¾†ã€‚
  - æ ¹æ“š user2 è©•åˆ†æœ€é«˜çš„é›»å½±é¡å‹ï¼Œå¾ `ratings_movies` ä¸­å°å‡ºuser2æ²’çœ‹éçš„å‰åç­†æ¨è–¦é›»å½±ï¼Œè¨˜å¾—é¿å…æ¨è–¦é‡è¤‡çš„é›»å½±ã€‚

In [734]:
movie = pd.read_csv('movies.csv')
rating = pd.read_csv('ratings.csv')
ratings_movies=rating.join(movie, rsuffix='_right')
display(ratings_movies.head())
##ä¸‹ä¸€é¡Œ
user2=ratings_movies.query('userId== 2')
display(user2.head(10))
##ä¸‹ä¸€é¡Œ
favor={}##type ,rating,number{a:[0,1]}
favor={}
x=0
for i  in range(0,32) :
    a=str(user2[i:i+1]['genres'].values)
    a=re.sub(r"[0-9]+", "",a)
    a=re.sub(r" ", "", a)
    a= re.sub(r"[[,'']", "", a)
    a= re.sub(r']', "", a)
    a=a.splitlines()
    for j in a  :
        b=j.split('|')
        for z in b:
            if z in favor :
                favor[z][0]=favor[z][0]+user2[i:i+1]['rating'].values
                favor[z][1]=favor[z][1]+1
            else:
                favor.update({z:[user2[i:i+1]['rating'].values,1]})
new={}
for i in favor:
    if favor[i][1]>10:
        new.update({i:favor[i]})
for i in new:
    new.update({i:(new[i][0]/new[i][1])})
user2_rating=new
print("user2_ratingï¼š")
print(user2_rating)
##ä¸‹ä¸€é¡Œ
top_10=ratings_movies[0:0]
for i in range(0,100836):
    for x in str(ratings_movies[i:i+1]['genres'].values).split('|')  :
        if x =='Drama' :
           if ratings_movies[i:i+1]['title'].values not in list(like):
                top_10=pd.concat([top_10,ratings_movies[i:i+1]])
        elif x=='Comedy':
            if ratings_movies[i:i+1]['title'].values not in list(like):
                top_10=pd.concat([top_10,ratings_movies[i:i+1]])
    if len(top_10['rating'])>100:
        break
display(top_10.head(10))

,userId,movieId,rating,timestamp,movieId_right,title,genres
0,1,1,4.0,964982703,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,2.0,Jumanji (1995),Adventure|Children|Fantasy
2,1,6,4.0,964982224,3.0,Grumpier Old Men (1995),Comedy|Romance
3,1,47,5.0,964983815,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,1,50,5.0,964982931,5.0,Father of the Bride Part II (1995),Comedy

,userId,movieId,rating,timestamp,movieId_right,title,genres
232,2,318,3.0,1445714835,270.0,Love Affair (1994),Drama|Romance
233,2,333,4.0,1445715029,271.0,Losing Isaiah (1995),Drama
234,2,1704,4.5,1445715228,272.0,"Madness of King George, The (1994)",Comedy|Drama
235,2,3578,4.0,1445714885,273.0,Mary Shelley's Frankenstein (Frankenstein) (1994),Drama|Horror|Sci-Fi
236,2,6874,4.0,1445714952,274.0,Man of the House (1995),Comedy
237,2,8798,3.5,1445714960,275.0,Mixed Nuts (1994),Comedy
238,2,46970,4.0,1445715013,276.0,Milk Money (1994),Comedy|Romance
239,2,48516,4.0,1445715064,277.0,Miracle on 34th Street (1994),Drama
240,2,58559,4.5,1445715141,278.0,Miami Rhapsody (1995),Comedy
241,2,60756,5.0,1445714980,279.0,My Family (1995),Drama

user2_ratingï¼š
{'Drama': array([3.86842105]), 'Comedy': array([3.86363636])}

,userId,movieId,rating,timestamp,movieId_right,title,genres
0,1,1,4.0,964982703,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,1,47,5.0,964983815,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance
10,1,163,5.0,964983650,11.0,"American President, The (1995)",Comedy|Drama|Romance
19,1,349,4.0,964982563,20.0,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
19,1,349,4.0,964982563,20.0,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
21,1,362,5.0,964982588,22.0,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
28,1,527,5.0,964984002,29.0,"City of Lost Children, The (CitÃ© des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
41,1,736,3.0,964982653,45.0,To Die For (1995),Comedy|Drama|Thriller
44,1,919,5.0,964982475,48.0,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
47,1,943,4.0,964983614,52.0,Mighty Aphrodite (1995),Comedy|Drama|Romance